.row {
    height: 200px;
    
}

[class^=col] {
    height: 100%;
}

.container {
    max-width: 1065px;
    margin: auto;
}

.bl_border {
    border: 1px solid black;
}

.pink_background {
    background-color: #FFC0CB;
}

[class^=col] {
    text-align: center;
    line-height: 100%;
}

p {
vertical-align: middle;
}

